body {
    background-color: #424242;
    margin: 0px 20px 0px 0px;
    font-family: geneva, arial, sans-serif;
    font-size: 16px;
}
div { position: relative; }
h1, h2, h3 {
    margin: 0;
}
h1 { 
    color: #eeeeee;
    font-size: 2.5em;
    text-transform: uppercase;
}
h2 {
    font-size: 0.8em;
    color: #eeeeee;  margin-top: 4px;
    margin-bottom: 4px;
}
h3 {
    color: #ffffbb;
    font-size: 1em;
    text-transform: uppercase;
    padding: 6px 0;
}
button, .button {
    background-color: #d70000;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 180px;
    font-size: 0.8em;
    display: inline-block;
    cursor: pointer;
    padding: 5px 5px 5px 5px;

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.25s;
}
button:hover, .button:hover {
    background-color: #eeeeee;
    color: #d70000;
}
div.columnContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/********************** HEADER ITEMS **********************/
div.header {
    background-color: #111111;
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    padding: 5px 10px 10px 10px;
    border-bottom: 4px solid #ff0000;
    z-index: 10;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}
div.header > div:nth-child(2) > div:nth-child(1) {
    margin-right: 24px;
}

ul.menu {
    list-style-type: none;
    display: block;
    margin: 0;
    padding-left: 0;
}
ul.menu > li {
    display: inline-block;
    font-size: 0.8em;
}
ul.subMenu {
    list-style-type: none;
    display: block;
    padding: 0px 0px 0px 0px;
}
ul.subMenu li {
    display: block;
}
div.menuButton {
    padding: 5px 10px;
    width: calc(230px - 22px);
    background-color: #000000;
    border: 1px solid #ffffff;
    cursor: pointer;

    color: #e1e1e1;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    transition: background-color 0.25s, border 0.25s, color 0.25s;
}
div.categoryMenu.disabled div.menuButton,
div.categoryMenu.disabled div.menuButton:hover {
    background-color: #000000;
    border: 1px solid #888888;
    color: #888888;
    cursor: not-allowed;
}
div.menuButton i {
    padding-top: 2px;
    float: right;
}
div.menuButton:hover,
div.categoryMenu.open div.menuButton {
    background-color: #ff0000;
}
div.subMenuContainer {
    position: absolute;
    width: 230px;
}
div.subMenuItem {
    padding: 5px 10px;
    background-color: #000000;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    cursor: pointer;

    color: #eeeeee;
    text-align: center;
    text-transform: uppercase;

    transition: background-color 0.25s;
}
div.subMenuItem.selected {
    color: #ffffbb;
    font-weight: bold;
}
div.subMenuItem:hover {
    background-color: #aaaaaa;
}
div.categoryMenu div.subMenuContainer {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}
div.categoryMenu.disabled div.subMenuContainer {
    display: none;
}
div.categoryMenu.open div.subMenuContainer,
div.subcategoryMenu.open div.subMenuContainer {
    max-height: 1000px;
    display: block;
}
span#currentSubCategory { opacity: 60%; }

/********************** CONTENT ITEMS **********************/
div#content {
    width: 100%;
    padding: 5px 5px 5px 5px;
    display: flex;
    transition: opacity 0.5s;
}
div#content.loading { opacity: 0; }

div.columnLeft {
    margin-right: 20px;
    background-color: #222222
}
div.columnRight { width: 100%; }

div.clickCoordinatesContainer {
    display: inline-block;
    font-size: 0.7em;
    color: #4f4f4f;
    background: #eeeeee;
    border: 1px solid #aaaaaa;
    padding: 4px 8px 4px 8px;
    margin: 0px;
    min-width: 8em;
}

span#promptContent {
    color: #eeeeee;
    font-size: 0.7em;
    font-style: italic;
}

/********************** IMAGE ITEMS **********************/

div.imageContainer {
    padding: 5px;
    margin-bottom: 25px;
    background-color: #222222
}
img {
    border: 1px solid #000000;
    cursor: url(images/crosshair.png) 15 15, crosshair;
}
div.imageControls {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    justify-content: space-between;
}

div.imageControls a.button {
    flex: 1;
    width: 80px;
    font-size: 0.7em;
    padding: 2px 2px 2px 2px;
    margin: 2px 5px 2px 5px;
}
div.imageControls span.currentImageSummary {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    flex: 1;
    font-size: 0.8em;
    padding: 2px 0px 2px 0px;
}

/********************** TABLE ITEMS **********************/
div.tableContainer table {
    width: 100%;
    max-height: 500px;

    font-family: arial, sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    border-collapse: collapse;
}
div.tableContainer tbody tr td:not(td:nth-child(1)) {
    cursor: cell;
}
div.tableContainer tr {
    height: 1.75em;
}
div.tableContainer thead {
    color: #ffffff;
    font-weight: bold;
    border-collapse: collapse;
}
div.tableContainer thead tr th {
    background-color: #d70000;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 2;
}
div.tableContainer thead tr:nth-child(2) th {
    top: 1.75em;
}
div.tableContainer th { width: 5em; }
div.tableContainer th, td {
    text-align: center;
    padding: 2px 2px 2px 2px;
    border: 1px solid black;
}
div.tableContainer tbody tr td {
    background-color: #cccccc;
}
div.tableContainer tbody tr.current td {
    background-color: #ffffff;
    transition: background-color .25s;
}
div.tableContainer tbody tr.current td.highlight {
    background-color: #fba1a1;
}
div.tableActions {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
